﻿
@model AddUserDto

@{
    ViewBag.Title = "Yönetim/Kullanıcılar/Ekle";
    Layout = "~/Views/Shared/AdminMainLayout.cshtml";
}

<h6 class="h6 text-center">Şirkete "Admin", "Stok Personeli" ve "Satış Personeli eklemek için kullanılacaktır.</h6>
<div class="container">
    @{Html.BeginForm("AdminUserAddPage", "AdminUser", FormMethod.Post, new { @class = "form-group mt-4" }); }
    @Html.AntiForgeryToken()
    <div class="row m-0 p-0">
        <div class="col-12 mt-2">
            @Html.ValidationSummary("", new { @class = "text-danger" })
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-2">
            @Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", required = "required", min = "2", max = "50", type = "text" })
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-2">
            @Html.LabelFor(x => x.Surname)
            @Html.TextBoxFor(x => x.Surname, new { @class = "form-control", required = "required", min = "2", max = "50", type = "text" })
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-2">
            @Html.LabelFor(x => x.Username)
            @Html.TextBoxFor(x => x.Username, new { @class = "form-control", required = "required", min = "8", max = "15", type = "text" })
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-2">
            @Html.LabelFor(x => x.Email)
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", required = "required", min = "8", max = "100", type = "email" })
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-2">
            @Html.LabelFor(x => x.Password)
            @Html.TextBoxFor(x => x.Password, new { @class = "form-control", required = "required", min = "8", max = "20", type = "password" })
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-2">
            @Html.LabelFor(x => x.PasswordCheck)
            @Html.TextBoxFor(x => x.PasswordCheck, new { @class = "form-control", required = "required", min = "8", max = "20", type = "password" })
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="w-50 float-left">
                @Html.LabelFor(x => x.IsAdmin)
            </div>
            <div class="w-50 float-left">
                @Html.CheckBoxFor(x => x.IsAdmin, new { @class = "form-check-input", type = "checkbox" })
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="w-50 float-left">
                @Html.LabelFor(x => x.IsSalesman)
            </div>
            <div class="w-50 float-left">
                @Html.CheckBoxFor(x => x.IsSalesman, new { @class = "form-check-input", type = "checkbox" })
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-4">
            <div class="w-50 float-left">
                @Html.LabelFor(x => x.IsStockKeeper)
            </div>
            <div class="w-50 float-left">
                @Html.CheckBoxFor(x => x.IsStockKeeper, new { @class = "form-check-input", type = "checkbox" })
            </div>
        </div>
        <div class="col-12 mt-4 mb-3 text-center">
            <input class="btn btn-success w-25" value="Kaydet" type="submit" style="min-width:200px" />
        </div>
    </div>
    @{Html.EndForm();}



</div>