﻿
@model List<User>

@{
    ViewBag.Title = "Yönetim/Kullanıcılar/Düzenle";
    Layout = "~/Views/Shared/AdminMainLayout.cshtml";
}

<div class="container">
    <div class="row">
        <h5 class="h5 col-12 mt-4 mb-4">"Admin", "Satış" ve "Stok" görevli kurum personeli aşağıda sunulmuştur;</h5>
        <div id="ErrorPresenter" class="col-12 mb-3">            
        </div>
        <div class="col-12">
            <table class="table table-bordered">
                <tr class="bg-secondary text-white text-center">
                    <th>ID</th>
                    <th>İsim</th>
                    <th>Soyisim</th>
                    <th>Admin</th>
                    <th>Satış</th>
                    <th>Stok</th>
                    <th>Aktif</th>
                    <th>Onay</th>
                    <th>Eklenme Tarihi</th>
                    <th colspan="2">İşlem</th>
                </tr>
                @{
                    var adminUsers = Model.Where(x => !x.IsDeleted).ToList();
                    if (adminUsers.Count > 0)
                    {
                        foreach (var user in adminUsers)
                        {
                            <tr id="userRow@(user.ID)" class="bg-white">
                                <td>@user.ID</td>
                                <td id="userDataName@(user.ID)">@user.Name</td>
                                <td id="userDataSurname@(user.ID)">@user.Surname</td>
                                <td class="text-center"><span id="userDataIsAdmin@(user.ID)" class="@(user.IsAdmin ? "fa fa-check" : "fa fa-times")"></span></td>
                                <td class="text-center"><span id="userDataIsSalesman@(user.ID)" class="@(user.IsSalesman ? "fa fa-check" : "fa fa-times")"></span></td>
                                <td class="text-center"><span id="userDataIsStockKeeper@(user.ID)" class="@(user.IsStockKeeper ? "fa fa-check" : "fa fa-times")"></span></td>
                                <td class="text-center"><span id="userDataIsActive@(user.ID)" class="@(user.IsActive ? "fa fa-check" : "fa fa-times")"></span></td>
                                <td class="text-center"><span class="@(user.IsApproved ? "fa fa-check" : "fa fa-times")"></span></td>
                                <td class="text-center">@user.InsertDate.ToShortDateString()</td>
                                <td class="text-center">
                                    <div class="row text-center">

                                        <!-- Update Button Function-->
                                        <div class="col-6 text-center">
                                            <button class="btn btn-warning text-white border-dark float-right" type="button" data-toggle="modal" data-target="#updateModal@(user.ID)">
                                                <span class="fa fa-pencil"></span>
                                            </button>
                                            <!-- Update Modal -->
                                            <div class="modal fade" id="updateModal@(user.ID)" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel@(user.ID)" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title text-center w-100" id="updateModalLabel@(user.ID)">Güncelle</h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            @{Html.BeginForm(new { @class = "form-group" }); }
                                                            <div class="text-warning col-12">
                                                                <h6 class="h6 text-warning text-center">"Satış" ve "Stok" personelinin kendisi tarafından da güncellenebilecek bilgiler</h6>
                                                            </div>
                                                            <div class="row m-0 p-0">
                                                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-2">
                                                                    <label>İsim</label>
                                                                    <input class="form-control" required="required" max="50" min="2" type="text" id="updateName@(user.ID)" value="@(user.Name)" />
                                                                </div>
                                                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-2">
                                                                    <label>Soyisim</label>
                                                                    <input class="form-control" required="required" max="50" min="2" type="text" id="updateSurname@(user.ID)" value="@(user.Surname)" />
                                                                </div>
                                                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-2">
                                                                    <label>Kullanıcı Adı</label>
                                                                    <input class="form-control" required="required" max="15" min="8" type="text" id="updateUsername@(user.ID)" value="@(user.Username)" />
                                                                </div>
                                                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-2">
                                                                    <label>E-posta Adresi</label>
                                                                    <input class="form-control" required="required" max="100" min="8" type="email" id="updateEmail@(user.ID)" value="@(user.Email)" />
                                                                </div>
                                                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-2">
                                                                    <label>Şifre</label>
                                                                    <input class="form-control" required="required" max="20" min="8" type="password" id="updatePassword@(user.ID)" value="@(user.Password)" />
                                                                </div>
                                                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-2">
                                                                    <label>Şifre (Tekrar)</label>
                                                                    <input class="form-control" required="required" max="20" min="8" type="password" id="updatePasswordCheck@(user.ID)" value="@(user.Password)" />
                                                                </div>
                                                                <div class="text-warning text-center col-12">
                                                                    <h6 class="h6 text-warning">Yalnızca "Admin" tarafından güncellenebilecek bilgiler</h6>
                                                                </div>
                                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-4">
                                                                    <div class="w-50 float-left">
                                                                        <label>Aktif</label>
                                                                    </div>
                                                                    <div class="w-50 float-left">
                                                                        <input class="form-check-input" type="checkbox" data-val="true" value="true" @(user.IsActive ? "checked=checked" : "") id="updateIsActive@(user.ID)" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-4">
                                                                    <div class="w-50 float-left">
                                                                        <label>Admin</label>
                                                                    </div>
                                                                    <div class="w-50 float-left">
                                                                        <input class="form-check-input" type="checkbox" data-val="true" value="true" @(user.IsAdmin ? "checked=checked" : "") id="updateIsAdmin@(user.ID)" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-4">
                                                                    <div class="w-50 float-left">
                                                                        <label>Satış Personeli</label>
                                                                    </div>
                                                                    <div class="w-50 float-left">
                                                                        <input class="form-check-input" type="checkbox" data-val="true" value="true" @(user.IsSalesman ? "checked=checked" : "") id="updateIsSalesman@(user.ID)" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-4">
                                                                    <div class="w-50 float-left">
                                                                        <label>Stok Personeli</label>
                                                                    </div>
                                                                    <div class="w-50 float-left">
                                                                        <input class="form-check-input" type="checkbox" data-val="true" value="true" @(user.IsStockKeeper ? "checked=checked" : "") id="updateIsStockKeeper@(user.ID)" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            @{Html.EndForm();}
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                                            <button type="button" class="btn btn-primary" onclick="UpdateUser(@(user.ID))" data-dismiss="modal">Onayla</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Delete Button Function-->
                                        <div class="col-6 text-center">
                                            <button class="btn btn-danger text-white border-dark float-left"
                                                    type="button" data-toggle="modal" data-target="#deleteModal@(user.ID)">
                                                <span class="fa fa-trash"></span>
                                            </button>
                                            <!-- Delete Modal -->
                                            <div class="modal fade" id="deleteModal@(user.ID)" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel@(user.ID)" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title text-center w-100" id="deleteModalLabel@(user.ID)">Sil</h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            @user.Name @user.Surname adlı kullanıcıyı silmek istediğinize emin misiniz?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                                                            <button type="button" class="btn btn-primary" onclick="DeleteUser(@(user.ID))" data-dismiss="modal">Onayla</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                }
            </table>
        </div>
    </div>
</div>

@section Script{
    <script>
        //Update Ajax
        function UpdateUser(userId) {
            var name = $("#updateName" + userId).val();
            var surname = $("#updateSurname" + userId).val();
            var username = $("#updateUsername" + userId).val();
            var email = $("#updateEmail" + userId).val();
            var password = $("#updatePassword" + userId).val();
            var passwordCheck = $("#updatePasswordCheck" + userId).val();
            var isActive = $("#updateIsActive" + userId).is(':checked');
            var isAdmin = $("#updateIsAdmin" + userId).is(':checked');
            var isSalesman = $("#updateIsSalesman" + userId).is(':checked');
            var isStockKeeper = $("#updateIsStockKeeper" + userId).is(':checked');
            $.ajax({
                url: "@Url.Action("AdminUserUpdateAjax","AdminUser")",
                data: 'ID=' + userId + '&Name=' + name + '&Surname=' + surname + '&Username=' + username + '&Email=' + email + '&Password=' + password + '&PasswordCheck=' + passwordCheck + '&IsActive=' + isActive + '&IsAdmin=' + isAdmin + '&IsSalesman=' + isSalesman + '&IsStockKeeper=' + isStockKeeper,
                dataType: 'json',
                type: 'POST',
                success: function (response) {
                    if (response.Result) {
                        $("#ErrorPresenter").html("");
                        $('.modal-backdrop').remove();
                        $("#userDataName" + response.ID).text(name);
                        $("#userDataSurname" + response.ID).text(surname);
                        $("#userDataIsActive" + response.ID).removeClass("fa fa-check");
                        $("#userDataIsActive" + response.ID).removeClass("fa fa-times");
                        $("#userDataIsAdmin" + response.ID).removeClass("fa fa-check");
                        $("#userDataIsAdmin" + response.ID).removeClass("fa fa-times");
                        $("#userDataIsSalesman" + response.ID).removeClass("fa fa-check");
                        $("#userDataIsSalesman" + response.ID).removeClass("fa fa-times");
                        $("#userDataIsStockKeeper" + response.ID).removeClass("fa fa-check");
                        $("#userDataIsStockKeeper" + response.ID).removeClass("fa fa-times");
                        if (isActive) { $("#userDataIsActive" + response.ID).addClass("fa fa-check"); }
                        else { $("#userDataIsActive" + response.ID).addClass("fa fa-times"); }
                        if (isAdmin) { $("#userDataIsAdmin" + response.ID).addClass("fa fa-check"); }
                        else { $("#userDataIsAdmin" + response.ID).addClass("fa fa-times"); }
                        if (isSalesman) { $("#userDataIsSalesman" + response.ID).addClass("fa fa-check"); }
                        else { $("#userDataIsSalesman" + response.ID).addClass("fa fa-times"); }
                        if (isStockKeeper) { $("#userDataIsStockKeeper" + response.ID).addClass("fa fa-check"); }
                        else { $("#userDataIsStockKeeper" + response.ID).addClass("fa fa-times"); }
                    }
                    else{
                        $("#ErrorPresenter").html("");
                        $("#ErrorPresenter").html('<h6 class="h6">Güncelleme hatası;<h6>');
                        $("#ErrorPresenter").append('<ul id="ErrorPresenterList" class="list-group" style="list-style-type:none"></ul>');
                        if (name == "" || surname == "" || username == "" || password == "" || email == "")
                        {
                            console.log("+");
                            $("#ErrorPresenterList").append('<li class="list-group-item-danger">Formdaki tüm bilgiler doldurulmalıdır.</li>');
                        }
                        if (name.length < 2 || name.length > 50)
                        {
                            $("#ErrorPresenterList").append('<li class="list-group-item-danger">İsim en az 2 en fazla 50 karakter içerebilir.</li>');
                        }
                        if (surname < 2 || surname.length > 50)
                        {
                            $("#ErrorPresenterList").append('<li class="list-group-item-danger">Soyisim en az 2 en fazla 50 karakter içerebilir.</li>');
                        }
                        if (username < 8 || username.length > 15) {
                            $("#ErrorPresenterList").append('<li class="list-group-item-danger">Kullanıcı adı en az 8 en fazla 15 karakter içerebilir.</li>');
                        }
                        if (!email.includes('@("@")')) {
                            $("#ErrorPresenterList").append('<li class="list-group-item-danger">E-posta adresi doğru girilme ve @("@") içermelidir</li>');
                        }
                        if (email.length < 8 || email.length > 100) {
                            $("#ErrorPresenterList").append('<li class="list-group-item-danger">E-posta adresi en az 8 en fazla 100 karakter içerebilir.</li>');
                        }
                        if (password != passwordCheck) {
                            $("#ErrorPresenterList").append('<li class="list-group-item-danger">Şifre tekrarı doğru olmalıdır. </li>');
                        }
                        if (password.length < 8 || password.length > 20) {
                            $("#ErrorPresenterList").append('<li class="list-group-item-danger">Şifre en az 8 en fazla 20 karakter içerebilir.</li>');
                        }
                    }
                }
            });
        }

        //Delete Ajax
        function DeleteUser(userId) {
            $.ajax({
                url : "@Url.Action("AdminUserDeleteAjax","AdminUser")",
                data : 'ID=' + userId,
                dataType : 'json',
                type : 'POST',
                success: function (response) {
                    $("#ErrorPresenter").html("");
                    $('.modal-backdrop').remove();
                    $("#userRow" + response.ID).remove();
                }
            })
        }
    </script>
}

