﻿
@model string

    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left bg-dark" style="display:none" id="mySidebar">
        <button class="w3-bar-item w3-button w3-large text-right float-right" onclick="w3_close()">
            <span class="badge badge-dark pt-1" style="font-size:1.6em">&times;</span>
        </button>
        <a href="@Url.Action("AdminHomePage","AdminHome")" class="w3-bar-item w3-button text-decoration-none text_Sidebar @(Model.Contains("Anasayfa")?"text-warning":"")"><span class="fa fa-home"></span> Anasayfa</a>
        <div class="btn-group dropdown w-100">
            <a href="@Url.Action("AdminUserPage","AdminUser")" class="w3-bar-item w3-button text-decoration-none text_Sidebar @(Model.Contains("Kullanıcılar")?"text-warning":"")"><span class="fa fa-user"></span> Kullanıcılar</a>
            <button type="button" class="btn rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fa fa-chevron-down text-white"></span>
            </button>
            <div class="dropdown-menu bg-dark" style="color:black">
                <a class="dropdown-item w-100 text_SidebarSub" href="@Url.Action("AdminUserAddPage","AdminUser")">Ekle</a>
                <a class="dropdown-item w-100 text_SidebarSub" href="@Url.Action("AdminUserArrangePage","AdminUser")">Düzenle</a>
            </div>
        </div>

        <div class="btn-group dropdown w-100">
            <a href="@Url.Action("AdminCategoryPage","AdminCategory")" class="w3-bar-item w3-button text-decoration-none text_Sidebar @(Model.Contains("Kategori")?"text-warning":"")"><span class="fa fa-user"></span> Ürün Kategori</a>
            <button type="button" class="btn rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fa fa-chevron-down text-white"></span>
            </button>
            <div class="dropdown-menu bg-dark" style="color:black">
                <a class="dropdown-item w-100 text_SidebarSub" href="@Url.Action("AdminCategoryAddPage","AdminCategory")">Ekle</a>
                <a class="dropdown-item w-100 text_SidebarSub" href="@Url.Action("AdminCategoryArrangePage","AdminCategory")">Düzenle</a>
            </div>
        </div>

        <div class="btn-group dropdown w-100">
            <a href="@Url.Action("AdminProductPage","AdminProduct")" class="w3-bar-item w3-button text-decoration-none text_Sidebar @(Model.Contains("Ürün")&&!Model.Contains("Kategori")?"text-warning":"")"><span class="fa fa-user"></span> Ürün</a>
            <button type="button" class="btn rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fa fa-chevron-down text-white"></span>
            </button>
            <div class="dropdown-menu bg-dark" style="color:black">
                <a class="dropdown-item w-100 text_SidebarSub" href="@Url.Action("AdminProductAddPage","AdminProduct")">Ekle</a>
                <a class="dropdown-item w-100 text_SidebarSub" href="@Url.Action("AdminProductArrangePage","AdminProduct")">Düzenle</a>
            </div>
        </div>
    </div>






