﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Html.Partial("~/Views/Shared/ExtensionPartial.cshtml")
</head>
<body>
    <div>
        @{Html.RenderAction("RenderSidebar", "AdminCommon", new {pageTitle = (string)ViewBag.Title });}
    </div>
    <div id="main">
        <div class="w3-teal">
            <div class="row bg-dark m-0 p-0">
                <button id="openNav" class="btn btn-dark w3-xlarge float-left" onclick="w3_open()">&#9776;</button>
                <div class="w3-container float-left">
                    <h2>@ViewBag.Title</h2>
                </div>
            </div>
        </div>
        <div class="w3-container">
            @RenderBody()
        </div>
    </div>
    @RenderSection("Script", false)
</body>
</html>
